@font-face {
    font-family: "Rob";
    src: url(/assets/Roboto-Regular.ttf);
}

* {
    font-size: 16px;
    font-family: "Rob", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

    margin: unset;
    padding: unset;
    border: unset;

    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

header {
    padding: 12px 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Encabezado li {

    font-size: 16px;
    font-weight: 700;

}

header nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    background-image: url(assets/H\ \(1\).jpg);
    color: white;
    background-size: cover;
    background-position: center;
}

.jumbotron h1 {

    font-size: 56px;
    font-weight: 700;
}

section .MENU {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    font-size: 32px;
    font-weight: 700;
}

.tarjeta {

    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 34px;
    height: 160px;
}

.tarjeta__img {
    width: 120px;
    height: 100%;
    object-fit: contain;
}

.tarjeta__container{

flex-grow: 1;
max-width: 340px;
text-align: center;

}

.tarjeta__container__tittle{

font-size: 20px;
font-weight: 700;

}

.tarjeta__container__description{

font-size: 16px;
opacity: .5;

}

.tarjeta__container2{

display: flex;
gap: 12px;
}

.tarjeta__container2__price{

    text-decoration: line-through;
font-size: 20px;
font-weight: 700;
opacity: .5;

}

.tarjeta__container2__offert{

font-size: 20px;
font-weight: 700;

}

.button{

background-color: red;
color: white;
padding: 10px 30px;
font-weight: 700;

}